.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log
.env
coverage/

*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.navigation/
captures/
gradlew
gradlew.bat
/gradle

build/
app/build/
.cxx/
*.apk
output.json

*.jks
*.keystore